<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda est perspiciatis delectus quia quibusdam rerum, fuga amet magni. Dolor adipisci quia praesentium in! Ex, quasi consectetur veniam temporibus vitae expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias repellendus dolorum asperiores earum nam placeat rerum consequatur magnam hic nesciunt culpa, nisi quasi ducimus fugiat optio qui possimus voluptate totam?</p>
    </div>
</div>