<div class="jumbotron mt-4">
  <h1 class="display-4" >TASKS</h1>
  <p class="lead" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut enim minima tempore nihil doloremque. Ipsa quam sint, saepe fugit dolorem blanditiis inventore dignissimos ratione dolor et neque quos officiis quis.</p>
  <hr>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero et accusantium saepe. Id explicabo est quas dicta reiciendis vitae aut exercitationem, debitis et, nihil itaque. Corrupti in rerum beatae tenetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ea incidunt. Beatae fugit rerum soluta, voluptatum ipsam ratione id recusandae vero hic, tenetur natus, sapiente sequi accusamus aspernatur alias doloribus!  </p>
  <a href="/tasks" class="btn btn-primary btn-lg" >Get started</a>
</div>
